.gradle
/local.properties
/.idea
/.idea/workspace.xml
/.idea/libraries
.navigation
.DS_Store
/build
/gradle
build.gradle
cnBetaXReader.iml
gradle.properties
gradlew
gradlew.bat
settings.gradle
Sign.jks
